.field-name-commerce-order-total .field-items {
  background-color: #e5e5e5;
  float: right;
  margin-bottom: 20px;
  min-width: 280px;
  padding: 5px 10px;
  width: 400px;
}

.field-name-commerce-order-total .field-items table,
.field-name-commerce-order-total .field-items tr {
  border: 0 none;
  background: none;
}

.field-name-commerce-order-total .field-items td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.field-name-commerce-order-total .field-items tr.component-type-commerce-price-formatted-amount {
  font-weight: bold;
}
